@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply scroll-smooth;
  }
  body {
    @apply bg-[#040f24] text-[#ddd] text-[18px];
  }
  .col {
    @apply flex flex-col;
  }
  .headerItem {
    @apply w-48 min-w-[36px] text-right cursor-pointer hover:animate-pulse;
  }
  .bodyItemWrapper {
    @apply col w-full min-h-screen items-center justify-center px-8 md:px-12 py-[120px] md:py-[160px];
  }
  .bodyItemContent {
    @apply flex w-full items-center md:items-start pt-[80px] gap-12 md:w-[900px] md:px-16;
  }
  .experienceTitle {
    @apply font-[700] mb-[9px] underline tracking-[0.5px] cursor-pointer;
  }
  .experienceWrap {
    @apply col gap-6 mb-4 items-center md:flex-row md:gap-12;
  }
  .experienceTextWrap {
    @apply py-2 col justify-center;
  }
  .experienceImageWrap {
    @apply w-48 min-w-[12rem] h-48 bg-white p-[12px] rounded-[0px] flex items-center hover:animate-pulse;
  }
  .input {
    @apply px-5 py-3 rounded focus:outline-none text-black;
  }
}
